VITE_APP_NAME=AV's Store
VITE_API_BASE_URL=http://localhost:5000/api/v1
VITE_PRODUCTION_API_BASE_URL=https://api.avsstoreonline.com/
VITE_ASSET_BASE_URL=https://cdn.example.com
VITE_DEFAULT_TENANT_SLUG=demo
VITE_ENABLE_ANALYTICS=false
VITE_APP_ENV=production
